
.header{
    display: none;
}
@media (min-width: 768px) {
    .header {
        display: block;
    }
}
.header-content {
    margin-top: 58px;
}

.logo {
    margin-left: 72px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    margin-right: 97px;
}

.nav-list {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 0.875rem;
    list-style: none;
}

.nav-item {
    padding: 10px;
    color: #000;
    text-align: center;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.15px;
    transition: color 0.2s ease;
    cursor: pointer;

    &:hover {
        color: rgba(107, 114, 128, 0.75);
    }
}
.nav-item__active {
    padding: 10px 0px;
    margin: 0px 10px;
    color: #000;
    text-align: center;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.15px;
    transition: color 0.2s ease;
    cursor: pointer;
    
    border-bottom: 4px solid #61E27D;

    &:hover {
        color: rgba(107, 114, 128, 0.75);
    }
}
.logo {
    flex: 1;
    display: flex;
}