<div class="container">
  <div class="background">
    <div class="exit-container">
      <div class="exit">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 27 27"
          fill="none"
        >
          <path
            d="M25.4985 1.52051L1.49853 25.5203"
            stroke="#6A6A6A"
            stroke-width="2"
            stroke-linecap="round"
          />
          <path
            d="M1.49853 1.52069L25.4985 25.5205"
            stroke="#6A6A6A"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="img-info">
        <div class="img"></div>
        <div class="info">
          <h2>Camiseta básica</h2>
          <div class="tallas-container">
            <div class="talla">
              <p>Talla</p>
              <div class="item-talla">
                <p>S</p>
              </div>
              <div class="item-talla">
                <p>M</p>
              </div>
              <div class="item-talla">
                <p>L</p>
              </div>
              <div class="item-talla">
                <p>XL</p>
              </div>
            </div>
            <div class="colors">
              <div class="select-color"><p>🎨</p></div>
              <p>Negro</p>
            </div>
          </div>
          <h3>Descripción</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vero at
            architecto sunt eos aperiam magni nesciunt doloremque. Sit, modi
            tenetur. Asperiores a aperiam non possimus, nesciunt ipsum minus
            cumque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
            vero at architecto sunt eos aperiam magni nesciunt doloremque. Sit,
            modi tenetur. Asperiores a aperiam non possimus, nesciunt ipsum
            minus cumque.Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Rem vero at architecto sunt eos aperiam magni nesciunt
            doloremque. Sit, modi tenetur. Asperiores a aperiam non possimus,
            nesciunt ipsum minus cumque.
          </p>
        </div>
      </div>

      <div class="buttons">
        <div class="cancel-button">
          <p>Cancelar</p>
        </div>
        <div class="bolsa-button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="26"
            viewBox="0 0 25 26"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12.5 3C9.73874 3 7.49999 5.23875 7.49999 8V9.25H6.24999C5.61249 9.25 5.0775 9.72877 5.0075 10.3625L3.7575 21.6125C3.71875 21.965 3.83124 22.3187 4.06874 22.5837C4.30624 22.8487 4.64499 23 4.99999 23H20C20.355 23 20.6937 22.8487 20.9312 22.5837C21.1687 22.3187 21.2812 21.965 21.2425 21.6125L19.9925 10.3625C19.9225 9.72877 19.3875 9.25 18.75 9.25H17.5V8C17.5 5.23875 15.2612 3 12.5 3ZM15 9.25V8C15 6.61875 13.8812 5.5 12.5 5.5C11.1187 5.5 9.99999 6.61875 9.99999 8V9.25H15ZM7.49999 13C7.49999 12.31 8.05999 11.75 8.74999 11.75C9.43999 11.75 9.99999 12.31 9.99999 13C9.99999 13.69 9.43999 14.25 8.74999 14.25C8.05999 14.25 7.49999 13.69 7.49999 13ZM16.25 11.75C15.56 11.75 15 12.31 15 13C15 13.69 15.56 14.25 16.25 14.25C16.94 14.25 17.5 13.69 17.5 13C17.5 12.31 16.94 11.75 16.25 11.75Z"
              fill="white"
            />
          </svg>
          <p>Agregar a la bolsa</p>
        </div>
      </div>
    </div>
  </div>
</div>
