<div class="container">
  <div class="background">
    <div class="exit-container">
      <div class="exit" (click)="onCloseModal()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 27 27"
          fill="none"
        >
          <path
            d="M25.4985 1.52051L1.49853 25.5203"
            stroke="#6A6A6A"
            stroke-width="2"
            stroke-linecap="round"
          />
          <path
            d="M1.49853 1.52069L25.4985 25.5205"
            stroke="#6A6A6A"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="back" (click)="onCloseModal()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 30 30"
          fill="none"
        >
          <path
            d="M12.5 23.75L3.75 15M3.75 15L12.5 6.25M3.75 15L26.25 15"
            stroke="#222324"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
    <div class="info-container">
      <div class="title">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="50"
          height="50"
          viewBox="0 0 50 50"
          fill="none"
        >
          <path
            d="M33.3333 22.9167V14.5833C33.3333 12.3732 32.4554 10.2536 30.8926 8.69078C29.3298 7.12797 27.2101 6.25 25 6.25C22.7899 6.25 20.6703 7.12797 19.1075 8.69078C17.5447 10.2536 16.6667 12.3732 16.6667 14.5833V22.9167M10.4167 18.75H39.5833L41.6667 43.75H8.33334L10.4167 18.75Z"
            stroke="#222324"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <p>Mi Bolsa</p>
      </div>
      <div class="info-bag">
        <div class="products-container">
          @for (item of (bag$ | async); track item) {
          <div class="product-resumen">
            <div class="product-img">
              <img [src]="item.product.imageUrl" />
            </div>
            <div class="product-info">
              <h2>{{ item.product.name }}</h2>
              <p>🎨</p>
              <div class="product-price">
                <h4>${{ item.product.price }}</h4>
                <p>/Talla {{ item.size }}</p>
              </div>
            </div>
            <div class="num-products">
              <div (click)="removeItem(item)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="4" viewBox="0 0 16 4" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 2C0.5 1.60218 0.658036 1.22064 0.93934 0.93934C1.22064 0.658036 1.60218 0.5 2 0.5H14C14.3978 0.5 14.7794 0.658036 15.0607 0.93934C15.342 1.22064 15.5 1.60218 15.5 2C15.5 2.39782 15.342 2.77936 15.0607 3.06066C14.7794 3.34196 14.3978 3.5 14 3.5H2C1.60218 3.5 1.22064 3.34196 0.93934 3.06066C0.658036 2.77936 0.5 2.39782 0.5 2Z" fill="#222324"/></svg>
              </div>
              <p>{{ item.quantity }}</p>
              <div (click)="addItem(item)">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none"><rect width="30" height="30" rx="10" fill="#F26F3F" /><path fill-rule="evenodd" clip-rule="evenodd" d="M15 7.5C15.3978 7.5 15.7794 7.65804 16.0607 7.93934C16.342 8.22064 16.5 8.60218 16.5 9V13.5H21C21.3978 13.5 21.7794 13.658 22.0607 13.9393C22.342 14.2206 22.5 14.6022 22.5 15C22.5 15.3978 22.342 15.7794 22.0607 16.0607C21.7794 16.342 21.3978 16.5 21 16.5H16.5V21C16.5 21.3978 16.342 21.7794 16.0607 22.0607C15.7794 22.342 15.3978 22.5 15 22.5C14.6022 22.5 14.2206 22.342 13.9393 22.0607C13.658 21.7794 13.5 21.3978 13.5 21V16.5H9C8.60218 16.5 8.22064 16.342 7.93934 16.0607C7.65804 15.7794 7.5 15.3978 7.5 15C7.5 14.6022 7.65804 14.2206 7.93934 13.9393C8.22064 13.658 8.60218 13.5 9 13.5H13.5V9C13.5 8.60218 13.658 8.22064 13.9393 7.93934C14.2206 7.65804 14.6022 7.5 15 7.5Z" fill="white"/></svg>
              </div>
            </div>
          </div>
          }
        </div>
        <div class="pedido-container">
          <h4>Informacion del pedido</h4>
          <!-- Seperar a componente -->
          <div class="product-pedido">
            <div class="product-pedido__icon">
              <p>🎲</p>
            </div>
            <p>producto ({{ productsCount$ | async }}): ${{ subtotal$ | async }}</p>
          </div>
          <!-- Seperar a componente -->
          <div class="product-impuesto">
            <div class="product-impuesto__icon">
              <p>💰</p>
            </div>
            <p>Impuestos: ${{ tax$ | async }}</p>
          </div>
          <hr />
          <div class="total">
            <p>Total:</p>
            <p>${{ total$ | async }}</p>
          </div>
          <div class="button-container">
            <div class="button" (click)="onOpenModal()">
              <p>Comprar</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mas-productos">
      <h4>Agregar más productos</h4>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        viewBox="0 0 30 30"
        fill="none"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M10.9395 22.0608C10.6583 21.7795 10.5003 21.3981 10.5003 21.0003C10.5003 20.6026 10.6583 20.2211 10.9395 19.9398L15.879 15.0003L10.9395 10.0608C10.7962 9.92245 10.682 9.75693 10.6033 9.57393C10.5247 9.39092 10.4834 9.19409 10.4816 8.99492C10.4799 8.79575 10.5178 8.59823 10.5933 8.41389C10.6687 8.22954 10.7801 8.06207 10.9209 7.92123C11.0617 7.78039 11.2292 7.66901 11.4136 7.59359C11.5979 7.51817 11.7954 7.48021 11.9946 7.48194C12.1938 7.48367 12.3906 7.52505 12.5736 7.60367C12.7566 7.68228 12.9221 7.79655 13.0605 7.93982L19.0605 13.9398C19.3417 14.2211 19.4997 14.6026 19.4997 15.0003C19.4997 15.3981 19.3417 15.7795 19.0605 16.0608L13.0605 22.0608C12.7792 22.342 12.3977 22.5 12 22.5C11.6023 22.5 11.2208 22.342 10.9395 22.0608Z"
          fill="#222324"
        />
      </svg>
    </div>
  </div>
  <div
    [ngClass]="{
      'container-mobile__show': showDetails,
      'container-mobile__hidden': !showDetails
    }"
  >
    @if(showDetails){
    <div class="pedido-mobile__container">
      <div class="hidden-info" (click)="toggleDetails()">
        <hr />
        <h4>Informacion del pedido</h4>
      </div>
      <!-- Seperar a componente -->
      <div class="product-pedido">
        <div class="product-pedido__icon">
          <p>🎲</p>
        </div>
        <p>producto ({{ productsCount$ | async }}): ${{ subtotal$ | async }}</p>
      </div>
      <!-- Seperar a componente -->
      <div class="product-impuesto">
        <div class="product-impuesto__icon">
          <p>💰</p>
        </div>
        <p>Impuestos: ${{ tax$ | async }}</p>
      </div>
      <hr />
      <div class="total">
        <p>Total:</p>
        <p>${{ total$ | async }}</p>
      </div>
      <div class="button-container">
        <div class="button-buy" (click)="onOpenModal()">
          <p>Comprar</p>
        </div>
      </div>
    </div>
    } @else{
    <div class="show-pedido__container">
      <div class="back-mobile" (click)="onCloseModal()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 30 30"
          fill="none"
        >
          <path
            d="M12.5 23.75L3.75 15M3.75 15L12.5 6.25M3.75 15L26.25 15"
            stroke="#222324"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="button-container" (click)="toggleDetails()">
        <div class="button-show">
          <p>Detalle del pedido</p>
        </div>
      </div>
    </div>
    }
  </div>
</div>
