.container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 30;
    background: rgba(198, 198, 198, 0.15);
    backdrop-filter: blur(3px);
}

.exit-container {
    position: relative;
}

.exit {
    position: absolute;
    top: 38px;
    right: 33.5px;
    cursor: pointer;
    display: none;
}

@media (min-width: 768px) {
    .exit {
        display: block;
    }
}

.back {
    position: absolute;
    top: 35px;
    left: 46px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .back {
        display: block;
    }
}

.background {
    margin: 20px;
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
    background-color: #F9F9F9;
    border-radius: 0;
    flex-direction: column;
    flex-direction: row;
}

@media (min-width: 768px) {
    .background {
        height: auto;
        width: 876px;
        border-radius: 40px;
    }
}

.title {
    display: flex;
    flex-direction: column;
    margin-top: 58px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media (min-width: 768px) {
    .title {
        margin-top: 96px;
        flex-direction: row;
    }
}

.title p {
    margin: 0;
    color: var(--Negro-seleccin, #222324);
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.25px;
}

.info-bag {
    display: flex;
    justify-content: space-around;
}

.product-resumen {
    display: flex;
    width: 360px;
    padding: 10px;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    background: var(--Blanco, #FFF);
}

.products-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-color: #222324;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-info h2 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
}

.product-info p {
    color: #000;
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.15px;
}

.product-price {
    display: flex;
    align-items: flex-end
}

.product-price h4 {
    margin: 0;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.product-price p {
    color: var(--Gris, #797979);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.num-products {
    margin-top: auto;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.num-products p {
    margin: 0;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.25px;
}

.pedido-container {
    width: 366px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    display: none;
}

@media (min-width: 768px) {
    .pedido-container {
        display: block;
    }
}
.container-mobile__show {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    background: rgba(198, 198, 198, 0.15);
    backdrop-filter: blur(3px);
}

@media (min-width: 768px) {
    .container-mobile__show {
        display: none;
    }
}

.container-mobile__hidden {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
}

@media (min-width: 768px) {
    .container-mobile__hidden {
        display: none;
    }
}

.pedido-mobile__container {
    background-color: #fff;
    padding: 25px;
    border-radius: 50px 50px 0px 0px;
}

.hidden-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pedido-container__mobile h4 {
    color: #000;
    margin: 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.hidden-info hr {
    margin: 4px 0px 18px 0px;
    width: 50px;
    border: 3px solid #000;
    border-radius: 15px;
}

.pedido-container h4 {
    color: #000;
    margin: 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.product-pedido {
    margin-top: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-pedido p {
    margin: 0;
    color: var(--Gris-subtitulos, #333);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.product-pedido__icon {
    display: flex;
    width: 50px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #ABABAB;
}

.show-pedido__container {
    background-color: #fff;
    padding: 25px;
    border-radius: 50px 50px 0px 0px;
}

.product-pedido__icon p {
    color: #000;
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.24px;
}

.product-impuesto {
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-impuesto p {
    margin: 0;
    color: var(--Gris-subtitulos, #333);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.product-impuesto__icon {
    display: flex;
    width: 50px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #ABABAB;
}

.product-impuesto__icon p {
    color: #000;
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.24px;
}

hr {
    margin: 24px 0px 18px 0px;
    margin-top: 24px;
    border: none;
    border-top: 2px solid #000;
    width: 100%;
}

.total {
    display: flex;
    justify-content: space-between
}

.total p {
    margin: 0;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container__mobile {
    display: flex;
    justify-content: center;
}

.button {
    cursor: pointer;
    margin: 0;
    margin-top: 19px;
    display: flex;
    width: 250px;
    height: 60px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #61E27D;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(15px);
}

.button:active {
    background: #00DD30;
}

.button p {
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    word-wrap: break-word;
    user-select: none;
}

.mas-productos {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 60px;
}

@media (min-width: 768px) {
    .mas-productos {
        margin: 27px 0px 49px 84px;
        justify-content: normal;
    }
}

.mas-productos h4 {
    margin: 0;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.button-show {
    cursor: pointer;
    margin: 20px 0px 20px 0;
    display: flex;
    padding: 15px;
    width: 214px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(15px);
}

.button-show p {
    margin: 0;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    user-select: none;
}

.button-show:active {
    background: #E7E7E7;
}


.button-buy {
    cursor: pointer;
    margin: 20px 0px 20px 0;
    margin-top: 19px;
    display: flex;
    width: 250px;
    height: 60px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #61E27D;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(15px);
}

.button-buy:active {
    background: #00DD30;
}

.button-buy p {
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    word-wrap: break-word;
    user-select: none;
}