<div class="container">
  <div class="user-container">
    <div class="title-container">
      <div class="icon-container">
        <div class="come-back" routerLink="/">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            viewBox="0 0 30 30"
            fill="none"
          >
            <path
              d="M12.5 23.75L3.75 15M3.75 15L12.5 6.25M3.75 15L26.25 15"
              stroke="#222324"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="39"
          height="50"
          viewBox="0 0 39 50"
          fill="none"
        >
          <path
            d="M30.7999 13.4615C30.7999 19.8144 25.7181 24.9231 19.5 24.9231C13.2818 24.9231 8.19995 19.8144 8.19995 13.4615C8.19995 7.10867 13.2818 2 19.5 2C25.7181 2 30.7999 7.10867 30.7999 13.4615Z"
            stroke="#222324"
            stroke-width="4"
          />
          <path
            d="M36.5 39.8712C36.5 41.3735 35.2488 43.2579 32.0319 44.8858C28.928 46.4567 24.5002 47.4866 19.5 47.4866C14.4998 47.4866 10.072 46.4567 6.96806 44.8858C3.75121 43.2579 2.5 41.3735 2.5 39.8712C2.5 38.369 3.75121 36.4846 6.96806 34.8566C10.072 33.2858 14.4998 32.2559 19.5 32.2559C24.5002 32.2559 28.928 33.2858 32.0319 34.8566C35.2488 36.4846 36.5 38.369 36.5 39.8712Z"
            stroke="#222324"
            stroke-width="4"
          />
        </svg>
      </div>
      <h3>Mi Perfil</h3>
    </div>
    <div class="img-container">
      <img [src]="userData?.picture?.large" class="img-container">
    </div>
    <div class="perfil-buttons__container">
      <profile-button text="Mis favoritos" icon="img/icons/corazon-icon.svg" routerLink="/favorites" />
      <profile-button text="Mis Compras" icon="img/icons/bag-icon.svg" />
      <profile-button text="Ajustes de la cuenta" icon="img/icons/segurit-icon.svg" />
      <profile-button text="Soporte Técnico" icon="img/icons/soporte-icon.svg" />
    </div>
  </div>
</div>
